# dependencies
node_modules/

# Expo
.expo/
dist/

# React
build/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Environment
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# TypeScript
*.tsbuildinfo